html body {
background-color: #2cb5e8;   
background-image: radial-gradient(#d0d6d5 0%, #1fc8db 40%,#2cb5e8 80%);
background-repeat: no-repeat;
color: white;
Opacity: 100;

}

.navbar-brand {
    color: white;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-transform: uppercase;

}

.table:hover{
    background-color: whitesmoke;
    color: black;
}

a{
    color: rgb(7, 7, 160);
}

img{
    float: left;
    margin: 10px;
}

h1{
    text-transform: capitalize;
}