html body {
background-color: #3f3d3d;   
background-repeat: no-repeat;
color: white;
Opacity: 100;

}

.navbar-brand {
    color: white;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-transform: uppercase;

}

table{
    background-color: rgb(235, 229, 229);
    color: black;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    margin-top: 10px;
    border-style: hidden;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.td {
    padding: 20px;
}

td:hover {
    background-color: rgb(255, 255, 255);
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px
}

a{
    color: rgb(65, 65, 255);
    text-decoration: none;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

img{
    float: left;
    margin: 10px;
}

h1{
    text-transform: capitalize;
}